.logged-out li{
    display: inline;
}

.logged-in li{
    display: inline;
}

#search-filter {
    display: inline-block;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*#question {
    display: inline-block;
}*/

#streak-sentence {
    display: inline-block;
}

#streak-info {
    display: inline;
}