.logged-out li{
    display: inline;
}

.logged-in li{
    display: inline;
}

#performance {
    display: inline;
}

#streak-sentence {
    display: inline-block;
}

#streak-info {
    display: inline;
}
