<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TITLE{% endblock %}</title>
  <!-- Css -->
  <link href="/static/css/site.css" rel="stylesheet">
  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <!-- AJAX -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.js"></script>
  <!--  Select2 -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
  <!-- Charts.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
  

</head>
<body>
    <div class="navbar-header">
            {% if "user_id" not in session %}
            <ul class="logged-out">
                <li><a href = "/"><img src="/static/images/a.png">app.othecary</a></li>
                <li><a href="/register">Sign up</a></li>
                <li><a href="/login">Log in</a></li>
                <li><a href="/supplements">Information</a></li>
                <li><a href="/search-page">Search</a></li>
            {% endif %}
            </ul>
            {% if "user_id" in session %}
            <ul class="logged-in">
                <li><a href = "/"><img src="/static/images/a.png">app.othecary</a></li>
                <li><a href="/supplements">Information</a></li>
                <li><a href="/search-page">Search</a></li>
                <li><a href= "/dashboard/{{ session['user_id'] }}">Dashboard</a></li>
                <li><a href="/logout">Log out</a></li>
            {% endif %}
            </ul>
    </div>
    <div id="flashes">
    {% for flash in get_flashed_messages() %}
      <div class="add-rmv" style="margin:0 auto; background-color: purple">{{ flash }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
    <footer class="footer"><em>app.othecary is for informational purposes only; please consult your doctor before starting any supplement routine.</em></footer>

    
</body>
</html>