{% extends 'base.html' %}

{% block title %}app.othecary{% endblock %}

{% block content %}
<div>
    <h1>Great quality of life starts with great nutrition.</h1>
    <h2>Sometimes, getting the nutrients we need from our daily meals isn't realistic.</h2>
    <h3>Take control of your nutrition with app.othecary, the virtual supplement storehouse of the 21st Century.</h3>
</div>
<div class="container-name">
    <div class="cosmas" style="display: flex; justify-content: flex-end">
        <img src="/static/images/cosmas.png">
    </div>
    <div class="features">
        <h3>With app.othecary, avoiding deficiencies is drop-dead easy:</h3>
            <h4>Browse and research supplements directly from the app</h4>
            <h4>Add specific products to your custom routine</h4>
            <h4>Access and edit your routine and account history from your personalized dashboard</h4>
    </div>
</div>


{% endblock %}