{% extends 'base.html' %}

{% block title %}app.othecary{% endblock %}

{% block content %}
<div>
    <h1>Great quality of life starts with good nutrition.</h1>
    <h3>Sometimes, getting the nutrients we need from our daily meals isn't realistic.</h3>
    <h4>Take control of your nutrition with app.othecary, a virtual vitamin storehouse for the 21st Century.</h4>
</div>
<div style="display: flex; justify-content: flex-end">
    <img src="/static/img/cosmas.png">
</div>
<br>
<br>

{% endblock %}