{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div>
        <h4>Create an Account</h4>
    </div>
    <div>
        <form action="/intake" method="POST">
            <div class="form-group">
                <label>Name:
                    <input type="text" name="name" required class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label>Email:
                    <input type="email" name="email" required class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label>Password:
                    <input type="password" name="password" required class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label>Birthday:
                    <input type="date" name="birthday" class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label>Sex:
                    <select name="sex" class="form-control" plaeholder="choose one">Select
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="mtf">Transitioning; Male to Female</option>
                        <option value="ftm">Transitioning; Female to Male</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label>Diet:
                    <select name="diet" class="form-control" placeholder="choose one">Diet
                        <option value="omnivore">Omnivore</option>
                        <option value="vegetarian">Vegetarian</option>
                        <option value="vegan">Vegan</option>
                        <option value="gluten_free">Gluten Free</option>
                    </select>
                </label>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create account">
            </div>
        </form>
    </div>
{% endblock %}