{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Create an Account</h4>
        </div>
    </div>
    <form action="/intake" method="POST">
        <div class="form-group">
            <div class="row">
                <div class="col-6 offset-3">
                    <label for="name">Name:</label>
                     <input type="text" name="name" required class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6 offset-3">
                    <label for="email">Email:</label>
                     <input type="email" name="email" required class="form-control" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Your email is safe with us.</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6 offset-3">
                    <label for="password">Password:</label>
                        <input type="password" name="password" required class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6 offset-3">
                    <label for="birthday">Birthday:</label>
                        <input type="date" name="birthday" required class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6 offset-3">
                    <label for="sex">Sex:</label>
                        <select name="sex" class="form-control" placeholder="Select one">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="nonbinary">Non-binary</option>
                        </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6 offset-3">
                    <label for="diet">Diet:</label>
                        <select name="diet" class="form-control" placeholder="choose one">
                            <option value="omnivore">Omnivore</option>
                            <option value="vegetarian">Vegetarian</option>
                            <option value="vegan">Vegan</option>
                            <option value="gluten_free">Gluten Free</option>
                        </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}