{% extends 'base.html' %}

{% block title %}{{ vitamin }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div style="display: flex; justify-content: flex-end">
        <div>
        <h2>Find your supplement!</h2>
        <p>Browse all {{ title.lower() }} supplements or filter by your favorite brand</p>
            <form action="/vitamin-search" method="POST">
                <div class="form group">
                    <label>Brand</label>
                    <input type="text" name="brand" class="form-control"></input>
                </div>
                <input class="form-control" type="submit" name="vitamin" value= {{ title }}>
                </div>
            </form>
    </div>
<br>
<div>
    {{ body|safe }}
</div>

{% endblock %}